@model SecureApp.Models.Abwesenheit

@{
    ViewData["Title"] = "Abwesenheit löschen";
}

<h1>Abwesenheit löschen</h1>

<h3>Sind Sie sicher, dass Sie diese Abwesenheit löschen möchten?</h3>

<hr />

<dl class="row">
    <dt class="col-sm-3">Mitarbeiter</dt>
    <dd class="col-sm-9">@Model.Mitarbeiter?.Vorname @Model.Mitarbeiter?.Nachname</dd>

    <dt class="col-sm-3">Typ</dt>
    <dd class="col-sm-9">@Model.Grund</dd>

    <dt class="col-sm-3">Von</dt>
    <dd class="col-sm-9">@Model.Von.ToShortDateString()</dd>

    <dt class="col-sm-3">Bis</dt>
    <dd class="col-sm-9">@Model.Bis.ToShortDateString()</dd>

    <dt class="col-sm-3">Bemerkung</dt>
    <dd class="col-sm-9">@Model.Bemerkung</dd>
</dl>

<form asp-action="Delete" method="post">
    @* wichtig: wegen [HttpPost, ActionName("Delete")] im Controller *@
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Löschen</button>
    <a asp-action="Index" class="btn btn-secondary">Abbrechen</a>
</form>
